.form-builder-wrapper {border:1px solid #aaa; padding:15px;}

.grid-stack {min-height:150px;}
.grid-stack-item {border:1px solid red;}

/* element */
.form-builder-element {border:1px solid #aaa; padding:15px;}
